* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: cursive;
}
body {
  background-color: rgba(220, 220, 220, 0.217);
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  padding-right: 2rem;
}
a:hover {
  text-decoration: none;
  color: #de3b78;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #35424a;
  color: white;
  height: 8vh;
  padding: 0.3rem 1rem;
  border-bottom: 3px solid #f3781f;
}
#title {
  color: #f3781f;
}
#title2 {
  color: #de3b78;
}
header h1 {
  font-size: 3.5rem;
  color: white;
}

.banner {
  background-image: url(./images/showcase.jpg);
  height: 40vh;
  background-position: center;
  color: white;
  font-size: 2rem;
  display: grid;
  place-items: center;
}
.banner h1 {
  align-self: center;
  margin-bottom: -8rem;
}
.banner p {
  align-self: center;
  margin-top: -6rem;
}
.aboutus {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 3rem;
  padding: 2rem 1.5rem;
}
.aboutus1 {
  display: grid;
}
.aboutus1top {
  display: grid;
  margin-bottom: 2rem;
  padding: 0rem 2rem;
}
.aboutus1top h2 {
  padding-bottom: 1.5rem;
}
.aboutus1bottom {
  display: grid;
  background-color: #35424a;
  color: white;
  padding: 2rem 2rem;
}
.aboutus2 {
  background-color: #35424a;
  color: white;
  padding: 2rem;
  height: 60%;
}
.aboutus2 h2 {
  padding-bottom: 1.5rem;
}
.services {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 6rem;
  padding: 2rem 1.5rem;
  max-height: 60vh;
}

.services1 {
  display: grid;
  gap: 9px;
}
.services1section {
  background-color: #c1c0c06d;
  border: 1px solid rgba(128, 128, 128, 0.434);
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 130px;
}

.services2 {
  background-color: #35424a;
  color: white;
  padding: 2rem;
  height: 60%;
}
textarea {
  resize: none;
  width: fit-content;
  height: 4rem;
  margin-top: 4rem;
}

form {
  padding: 0.5rem;
}

form input,
form textarea {
  margin: 0.5rem 1rem 1rem 0.5rem;
  width: 90%;
  padding: 0.2rem 0.5rem;
}

form input {
  height: 1.5rem;
  margin-top: 0.5rem;
}

.subscribe {
  color: white;
  background-color: #35424a;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.5rem;
}
#email {
  padding: 0.5rem 0.4rem;
  margin-right: 0.5rem;
}
#submit {
  color: white;
  background-color: #de3b78;
  padding: 0.8rem 1.3rem;
  border: 0;
  border-radius: 0.6rem;
  margin-right: 1.1rem;
  cursor: pointer;
  width: auto;
  height: auto;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  height: 30vh;
}

.img1 {
  /* border: 2px solid orange; */
  display: grid;
  align-items: end;
  padding-top: 1.5rem;
}
.writing {
  padding: 0rem 5rem;
  text-align: center;
}
.html1 {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
  place-items: center;
  max-height: 400px;
}
.css1 {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
  max-height: 400px;
  place-items: center;
  max-height: 400px;
}
.graphic1 {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
  place-items: center;
  max-height: 400px;
}

footer {
  background-color: #35424a;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding-top: 0.3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
